<div class="container m-1 mb-1">
  <div class="row">
    <div class="col-md-4 card p-3 mx-1">
      <a href="/spco/create-investment" class="btn btn-primary">
        <h3 class="text-light font-weight-bolder">Create Investment</h3>
        <p>Click Here To create Investment</p>
      </a>
    </div>
  </div>
</div> <br> <br>
<% if (investments.length> 0) { %>
  <div id="container p-2 " > 
      <div class="row" >
        <% investments.forEach(investment=> { %>
          <div class="col-xl-12 col-sm-12 mb-xl-0 mb-3 m-auto m-2" style="max-height: 60vh;">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-12">
                    <div class="numbers">
                      <p class="text-sm mb-3 text-uppercase font-weight-bold">
                        <img src="../assets/img/icons/flags/nijja.gif" alt="Country flag" width="30px">
                        <%= investment.investment_name %>
                      </p>
                      <h5 class="font-weight-bolder text-capitalize">
                        Make ₦ <%= investment.expected_return %> on every ₦ <%= investment.investment_amount %> you invest in this plan
                      </h5>

                      <p class="mb-4 text-capitalize">
                        <span class="text-success text-sm font-weight-bolder">Duration</span>
                        <%= investment.investment_duration %> Months
                      </p>

                      <a href="/spco/investment/<%= investment.id %>" class="btn btn-primary w-25">Read More</a>
                    
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
           <% }); %>
      </div> <br> <br>
  </div> <br>

  <% } else { %>
    <div class="row mt-4">
      <div class="card p-4">
        <h3 class="text-capitalize text-center">There is currently no investment Available Here</h3>
      </div>
    </div> <br>
    <% } %>