<div id="indeex">
  <div class="row mt-2 mb-4">
    <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-2 m-3">
          <div class="row">
            <div class="col-3 text-end p-1">
              <img src="/assets1/img/logo.png" class="navbar-brand-img m-4" alt="main_logo" width="95%">
            </div>
            <div class="col-1"></div>
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm text-capitalize mb-0 text-uppercase font-weight-bold">Property Details </p>
                <h5 class="font-weight-bolder text-capitalize">
                  <%= rent.property_name %>
                </h5>
                <% if (rent.status== "approved") { %>
                  <h4 class="font-weight-bolder text-capitalize text-success">
                    Rent is approved.
                  </h4>
                <% } %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-profile">
            <img src="/assets/img/home-decor-3.jpg" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-4 col-lg-4 order-lg-2">
                <!-- <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
                  <a href="javascript:;">
                    <img src="/assets/img/image1.png" class="rounded-circle img-fluid border border-2 border-white">
                  </a>
                </div> -->
              </div>
            </div>

            <div class="card-body pt-5">
              <h5>Occupant : <%= rent.occupant_name %>
              </h5>
              <% if (rent.status== "approved") { %>
                <h3 class="font-weight-bolder text-capitalize text-success text-center">
                  Rent is approved.
                </h3>
              <% } else if (rent.status == 'reject') { %>
                <h3 class="font-weight-bolder text-capitalize text-success text-center">
                  Rent is Rejected.
                </h3>
              <% } %>
              
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Information</th>

                  </tr>
                </thead>
                <tbody>
                  <tr class="table-primary">
                    <th scope="row">Occupant Name</th>
                    <td>
                      <%= rent.occupant_name %>
                    </td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">Occupant Phone Number</th>
                    <td>
                      <%= rent.occupant_phone %>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">Property Name</th>
                    <td>
                      <%= rent.property_name %>
                    </td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Property Type</th>
                    <td>
                      <%= rent.property_type %>
                    </td>
                  </tr>
                  <tr class="table-primary">
                    <th scope="row">Property Address</th>
                    <td>
                      <%= rent.address %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Next Of Kin</th>
                    <td>
                      <%= rent.next_of_kin %>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">NOK Phone</th>
                    <td>
                      <%= rent.kin_phone %>
                    </td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">NOK Address</th>
                    <td>
                      <%= rent.kin_address ? rent.kin_address : "Address Is Currently Empty" %>
                    </td>
                  </tr>
                  <tr class="table-primary">
                    <th scope="row">Rent Fee</th>
                    <td>₦<%= Number (rent.rent_price).toLocaleString() %>
                    </td>

                  </tr>
                  <tr class="table-danger">
                    <th scope="row">Number Of Units booked</th>
                    <td>
                      <%= rent.unit %>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">Application Status</th>
                    <td class="text-capitalize">
                      <%= rent.status %>
                    </td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Rent Duration</th>
                    <td>
                      <%= rent.duration %> Days / Months
                    </td>
                  </tr>
                  <tr class="table-primary">
                    <th scope="row">Rent Starts</th>
                    <td>
                      <%= rent.address %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Next Of Kin</th>
                    <td>
                      <%= rent.next_of_kin %>
                    </td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">Rent Application Date</th>
                    <td>
                      <%= rent.createdAt %>
                    </td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">NOK Address</th>
                    <td>
                      <%= rent.property_type %>
                    </td>
                  </tr>
                  <tr class="table-primary">
                    <th scope="row">Admin Comment</th>
                    <td>
                      <%= rent.comment %>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="card">
            <form action="/spco/renting/<%- rent.id %>" method="POST">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <p class="mb-0">Approve Rental</p>
                  <button class="btn btn-primary btn-sm ms-auto">Done</button>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase text-sm text-capitalize">Rental Verification</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label for="disabledSelect" class="form-label">Rental Status</label>
                      <select id="disabledSelect" class="form-select" name="status" required>
                        <option value=""></option>
                        <option value="approved">Approve</option>
                        <option value="reject">Reject</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Admin Comment</label>

                      <textarea class="form-control" name="comment" id="" required></textarea>

                    </div>
                  </div>

                </div>
                <!-- <hr class="horizontal dark">
              <p class="text-uppercase text-sm text-capitalize">About me</p>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">About me</label>
                    <input class="form-control" type="text" value="A beautiful Dashboard for Bootstrap 5. It is Free and Open Source.">
                  </div>
                </div>
              </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>